@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        position: fixed;
        opacity: 0;
    }

    1% {
        position: absolute;
        opacity: 0;
        width: 100%;
    }

    50% {
        position: absolute;
        opacity: 0;
        width: 100%;
    }

    100% {
        position: absolute;
        opacity: 1;
        width: 100%;
    }
}

@keyframes fadeOut {
    0% {
        position: absolute;
        opacity: 1;
        width: 100%;
    }

    99% {
        position: absolute;
        opacity: 0;
        width: 100%;
    }

    100% {
        opacity: 0;
        width: 0;
        position: fixed;
    }
}