$color-primary: #017cb9;
$color-primary-dark: #011f44;

$color-secondary: #05a3a3;
$color-secondary-light: #bed5c8;
$color-secondary-dark: #006675;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$grid-width: 114rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;

$color-tertiary-1: #e9891c;
$color-tertiary-1-dark: #b25a1f;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;