@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section-stories {
    position: relative;
    padding: 10rem 0 7.5rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}