@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .3;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section-stories {
    position: relative;
    padding: 10rem 0 7.5rem 0;
    height: 150vh;

    @include respond(tab-port) {
        padding: 10rem 0;
        height: 195vh;
    }

    @include respond(phone) {
        height: 110vh;
    }
}

.btn-next {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-primary;
    padding: .7rem;
    transition: all .2s;
    margin-top: 100vh;

    @include respond(tab-port) {
        margin-top: 147vh;
    }

    @include respond(phone) {
        margin-top: 80vh;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}